*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.header{
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/background2.jpg);
    background-position: center;
    background-size: cover;
    
}
nav{
    display: flex;
    padding: 2% 5% ;
    justify-content:space-between;
    align-items: center;
}
nav img{
    width: 100px;


}
.nav-link{
    flex: 1;
    text-align: right;
}
.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
 .nav-link ul li a{
     color: #fff;
     text-decoration: none;
     font-size: 13px;
 }
 .nav-link ul li::after{
     content: '';
     width: 0%;
     height: 2px;
     background: #36f456;
     display: block;
     margin:auto;
     transition: 0.5s;

 }   
 .nav-link ul li:hover::after{
     width: 100%;
 }
 .text-box{
     width: 50%;
     color: #fff;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     text-align: center;

 }
 .text-box h1{
     font: size 62px;

 }
 .text-box p{
     margin: 10px 0px 40px;
     font-size: 18px;
     color: #fff;
 }
 .hero-btn{
     display: inline-block;
     text-decoration: none;
     color: #fff;
     border: 1px solid #fff;
     padding: 12px 34px;
     font-size: 13px;
     background: transparent;
     position: relative;
     cursor: pointer;

 }
 .hero-btn:hover{
     border: 1px solid #36f456;
     background: #36f456;
     transition: 1s;
 }